<footer class="page-footer">
  <div class="footer-content-wrap constrained-width">
    <nav class="nav-footer">
      <ul class="nav-footer-list">
        <li class="nav-footer-list-item">
          <h2 class="nav-footer-heading">
            <a href="/" class="nav-footer-heading-link">Who We Are</a>
          </h2>
          <ul class="nav-footer-sub-list">
            <li class="nav-footer-sub-list-item">
              <a href="/" class="nav-footer-link -sub">Our Philosophy</a>
            </li>
            <li class="nav-footer-sub-list-item">
              <a href="/" class="nav-footer-link -sub">Our Citizenship</a>
            </li>
            <li class="nav-footer-sub-list-item">
              <a href="/" class="nav-footer-link -sub">Our Team</a>
            </li>
          </ul>
        </li>
        <li class="nav-footer-list-item -large">
          <h2 class="nav-footer-heading">
            <a href="/" class="nav-footer-heading-link">What We Do</a>
          </h2>
          <div class="nav-footer-sub-groups">
            <div class="nav-footer-sub-group-item">
              <h3 class="nav-footer-sub-heading">
                <a href="/" class="nav-footer-heading-link">Private Equity Services</a>
              </h3>
              <ul class="nav-footer-sub-list">
                <li class="nav-footer-sub-list-item">
                  <a href="/" class="nav-footer-link -sub">Retained Acquisition</a>
                </li>
                <li class="nav-footer-sub-list-item">
                  <a href="/" class="nav-footer-link -sub">Restructuring</a>
                </li>
                <li class="nav-footer-sub-list-item">
                  <a href="/" class="nav-footer-link -sub">Interin CXO Leadership</a>
                </li>
              </ul>
            </div>
            <div class="nav-footer-sub-group-item">
              <h3 class="nav-footer-sub-heading">
                <a href="/" class="nav-footer-heading-link">Corporate Services</a>
              </h3>
              <ul class="nav-footer-sub-list">            
                <li class="nav-footer-sub-list-item">
                  <a href="/" class="nav-footer-link -sub">Retained Acquisition</a>
                </li>
                <li class="nav-footer-sub-list-item">
                  <a href="/" class="nav-footer-link -sub">Financing Advisory</a>
                </li>
                <li class="nav-footer-sub-list-item">
                  <a href="/" class="nav-footer-link -sub">Strategic Advisory</a>
                </li>
                <li class="nav-footer-sub-list-item">
                  <a href="/" class="nav-footer-link -sub">Restructuring Advisory</a>
                </li>
                <li class="nav-footer-sub-list-item">
                  <a href="/" class="nav-footer-link -sub">Interin CXO Leadership</a>
                </li>
              </ul>
            </div>
            <div class="nav-footer-sub-group-item">
              <h3 class="nav-footer-sub-heading">
                <a href="/" class="nav-footer-heading-link">Executive Services</a>
              </h3>
              <ul class="nav-footer-sub-list">
                <li class="nav-footer-sub-list-item">
                  <a href="/" class="nav-footer-link -sub">Retained Acquisition</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-footer-list-item">
          <h2 class="nav-footer-heading">
            <a href="/" class="nav-footer-heading-link">Resource Center</a>
          </h2>
          <ul class="nav-footer-sub-list">
            <li class="nav-footer-sub-list-item">
              <a href="/" class="nav-footer-link -sub">Events</a>
            </li>
            <li class="nav-footer-sub-list-item">
              <a href="/" class="nav-footer-link -sub">News</a>
            </li>
            <li class="nav-footer-sub-list-item">
              <a href="/" class="nav-footer-link -sub">Thought Leadership</a>
            </li>
          </ul>
        </li>
        <li class="nav-footer-list-item">
          <h2 class="nav-footer-heading">
            <span class="nav-footer-heading-link">Contact</span>
          </h2>
          <ul class="nav-footer-sub-list">
            <li class="nav-footer-sub-list-item">
              <a href="/" class="nav-footer-link -sub">Contact Us</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <p class="copyright">&copy; 2015-{{ copyright }} Bonefish Capital</p>
  </div>
</footer>
