<footer class="page-footer">
  <div class="footer-content-wrap constrained-width">
    {% include "navigation/nav-footer.njk" %}
    <p class="copyright">&copy; 2015-{{ copyright }} Bonefish Capital</p>
  </div>
</footer>
