<!DOCTYPE html>
<html lang="en">
  {% set pageURL = [contactData.baseURL, page.url].join('') %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bonefish Capital{% if title %} - {{ title }}{% endif %}</title>
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/global.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Organization",
      "name": "{{ contactData.name }}",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ contactData.streetAddress }}",
        "postalCode": "{{ contactData.zip }}",
        "addressLocality": "{{ contactData.city }}",
        "addressRegion": "{{ contactData.state }}"
      },
      "telephone": "{{ contactData.phoneIntl }}",
      "url" : "{{ contactData.baseURL }}",
      "email": "{{ contactData.email }}",
      "image": "{{ imageData.logoStatic }}",
      "logo": "{{ imageData.logoStatic }}",
      "founder": {
        "@type": "Person",
        "name": "Paul M. Zaidins",
        "jobTitle": "Managing Partner & Founder"
      }
    }
    </script>
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{pageURL}}" />
    <meta property="og:image" content="{{ imageData.logoStatic }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ description }}" />
  </head>
  <body {% if bodyClasses %}class="{{ bodyClasses }}"{% endif %}>
