<header class="mobile-header">
  <h1 class="visuallyhidden">Bonesfish Captial</h1>
  <a href="/" class="logo-wrapper home-link" aria-label="Home">
    <img class="logo-img" src="/assets/images/content/logo.svg" alt="" />
  </a>

  <button class="mobile-nav-toggle" id="btn-open-mobile-nav" aria-label="Show navigation"></button>
</header>
