<nav class="nav-mobile" id="mobile-nav" aria-hidden="true">
  {# <h1 class="visuallyhidden">Navigation</h1> #}
  <ul class="nav-mobile-list -l1">
    <li class="nav-mobile-list-item -l1">
      <span class="nav-mobile-heading -l1">
        <a href="/" class="nav-mobile-link -heading-1">Home</a>
      </span>
    </li>
    <li class="nav-mobile-list-item -l1">
      <h2 class="nav-mobile-heading -l1">
        <a href="/" class="nav-mobile-link -heading-1">Who We Are</a>
      </h2>
      <ul class="nav-mobile-list -l1">
        <li class="nav-mobile-list-item">
          <a href="/who-we-are/our-philopsophy/" class="nav-mobile-link">Our Philopsophy</a>
        </li>
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">Our Citizenship</a>
        </li>
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">Our Team</a>
        </li>
      </ul>
    </li>
    <li class="nav-mobile-list-item -l1">
      <h2 class="nav-mobile-heading -l1">
        <a href="/" class="nav-mobile-link -heading-1">What We Do</a>
      </h2>
      <h3 class="nav-mobile-heading -l2">
        <a href="/" class="nav-mobile-link -heading-2">Private Equity Services</a>
      </h3>
      <ul class="nav-mobile-list -l2">
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">Retained Acquisition</a>
        </li>
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">Restructuring</a>
        </li>
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">Interim CXO Leadership</a>
        </li>
      </ul>

      <h3 class="nav-mobile-heading -l2">
        <a href="/" class="nav-mobile-link -heading-2">Corporate Services</a>
      </h3>
      <ul class="nav-mobile-list -l2">
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">Retained Acquisition</a>
        </li>
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">Financing Advisory</a>
        </li>
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">Strategic Advisory</a>
        </li>
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">Restructuring Advisory</a>
        </li>
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">Interim CXO Leadership</a>
        </li>
      </ul>

      <h3 class="nav-mobile-heading -l2">
        <a href="/" class="nav-mobile-link -heading-2">Executive Services</a>
      </h3>
      <ul class="nav-mobile-list -l2">
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">Retained Acquisition</a>
        </li>
      </ul>
    </li>
    <li class="nav-mobile-list-item -l1">
      <h2 class="nav-mobile-heading -l1">
        <a href="/" class="nav-mobile-link -heading-1">Resource Center</a>
      </h2>
      <ul class="nav-mobile-list -l1">
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">Events</a>
        </li>
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">News</a>
        </li>
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">Thought Leadership</a>
        </li>
      </ul>
    </li>
    <li class="nav-mobile-list-item -l1">
      <h2 class="nav-mobile-heading -l1">
        <a href="/" class="nav-mobile-link -heading-1">Contact</a>
      </h2>
      <ul class="nav-mobile-list -l1">
        <li class="nav-mobile-list-item">
          <a href="/" class="nav-mobile-link">Contact Us</a>
        </li>
      </ul>
    </li>
  </ul>
  <button class="mobile-nav-close-btn" id="btn-close-mobile-nav">Close menu</button>
</nav>
