
<nav class="nav-desktop">
  <ul class="nav-desktop-list -root">
    <li class="nav-desktop-list-item -home">
      <a href="/" class="nav-desktop-link logo-wrapper" aria-label="Bonefish Capital Homepage">
        <img src="/assets/images/content/logo.svg" class="logo-img" alt=""/>
      </a>
    </li>
    <li class="nav-desktop-list-item -l1">
      <h2 class="nav-desktop-heading">
        <a href="/who-we-are/our-philopsophy/" class="nav-desktop-link -heading-1">Who We Are</a>
      </h2>
      <div class="nav-desktop-list-menu">
        <ul class="nav-desktop-list -l1">
          <li>
            <a href="/who-we-are/our-philosophy/" class="nav-desktop-link -l1">Our Philopsophy</a>
          </li>
          <li>
            <a href="/" class="nav-desktop-link -l1">Our Citizenship</a>
          </li>
          <li>
            <a href="/" class="nav-desktop-link -l1">Our Team</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-desktop-list-item -l1">
      <h2 class="nav-desktop-heading">
        <a href="/" class="nav-desktop-link -heading-1">What We Do</a>
      </h2>
      <div class="nav-desktop-list-menu">
        <h3 class="nav-desktop-heading">
          <a href="/" class="nav-desktop-link -heading-2">Private Equity Services</a>
        </h3>
        <ul class="nav-desktop-list -l2">
          <li>
            <a href="/" class="nav-desktop-link">Retained Acquisition</a>
          </li>
          <li>
            <a href="/" class="nav-desktop-link">Restructuring</a>
          </li>
          <li>
            <a href="/" class="nav-desktop-link">Interim CXO Leadership</a>
          </li>
        </ul>

        <h3 class="nav-desktop-heading">
          <a href="/" class="nav-desktop-link -heading-2">Corporate Services</a>
        </h3>
        <ul class="nav-desktop-list -l2">
          <li>
            <a href="/" class="nav-desktop-link">Retained Acquisition</a>
          </li>
          <li>
            <a href="/" class="nav-desktop-link">Financing Advisory</a>
          </li>
          <li>
            <a href="/" class="nav-desktop-link">Strategic Advisory</a>
          </li>
          <li>
            <a href="/" class="nav-desktop-link">Restructuring Advisory</a>
          </li>
          <li>
            <a href="/" class="nav-desktop-link">Interim CXO Leadership</a>
          </li>
        </ul>

        <h3 class="nav-desktop-heading">
          <a href="/" class="nav-desktop-link -heading-2">Executive Services</a>
        </h3>
        <ul class="nav-desktop-list -l2">
          <li>
            <a href="/" class="nav-desktop-link">Retained Acquisition</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-desktop-list-item -l1 -after-logo">
      <h2 class="nav-desktop-heading">
        <a href="/" class="nav-desktop-link -heading-1">Resource Center</a>
      </h2>
      <div class="nav-desktop-list-menu">
        <ul class="nav-desktop-list -l1">
          <li>
            <a href="/" class="nav-desktop-link">Events</a>
          </li>
          <li>
            <a href="/" class="nav-desktop-link">News</a>
          </li>
          <li>
            <a href="/" class="nav-desktop-link">Thought Leadership</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-desktop-list-item -l1">
      <h2 class="nav-desktop-heading">
        <a href="/" class="nav-desktop-link -heading-1">Contact</a>
      </h2>
      <div class="nav-desktop-list-menu">
        <ul class="nav-desktop-list -l1">
          <li>
            <a href="/" class="nav-desktop-link">Contact Us</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
