{% import "navigation/desktop-header/nav-list.njk" as desktopNavList %}

<nav>
  <ul class="{{desktopNavClassesData[0].classes.ul}}">
    {% for navItem in navigationData %}
      {% set levelIndex = 1 %}
      {{
        desktopNavList.menuItem(
          navItem,
          levelIndex,
          currentPage,
          desktopNavClassesData
        )
      }}
    {% endfor %}
  </ul>
</nav>
