$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$yellow: rgb(255, 255, 0);

$blue: rgb(14, 95, 151);
$blue-dark: rgb(7, 73, 109);

$gray: rgba(117, 117, 117);
$gray-light: rgba(153, 153, 153);
$gray-dark: rgba(88, 88, 88);

$twitter: rgb(26, 155, 240);
$linkedIn: rgb(10, 102, 194);
