---
title: Resource Center - Events
pageTitle: Bonefish Capital Events
description: Bonefish Capital attends conferences and events in which we converse with business leaders, entrepreneurs and thought leaders from around the world.

parentNavPath: root.resource-center
currentPage: events
---

<div class="row">
  <div class="col-lg-8 -order-lg-1">
    <p>As part of the work we do with our clients, Bonefish Capital attends conferences and events in which we converse with business leaders, entrepreneurs and thought leaders from around the world. We have highlighted some of these events below:</p>
    {% include 'tables/events-table.njk' %}
  </div>
  <aside class="col-lg-4 -order-lg-2">
    {% include 'navigation/nav-sub-page.njk' %}
  </aside>
</div>


