---
title: Resource Center - News
pageTitle: Bonefish Capital News and Publications

parentNavPath: root.resource-center
currentPage: news
---

<div class="row">
  <div class="col-lg-8 -order-lg-1">
    {% include 'tables/news-table.njk' %}
  </div>
  <aside class="col-lg-4 -order-lg-2">
    {% include 'navigation/nav-sub-page.njk' %}
  </aside>
</div>
