---
title: Bonefish Capital - Resource Center - Thought Leadership
pageTitle: Thought Leadership
description: Thought Leadership

parentNavPath: root.resource-center
currentPage: thought-leadership
---

<div class="row">
  <div class="col-lg-8 -order-lg-1">
    <img class="polaroid -in-body -right" src="/assets/images/content/paul-zaidins-bio-photo.jpg" alt="Paul Zaidins- Managing Partner &amp; Founder">
    <figcaption>Paul Zaidins, Managing Partner</figcaption>
    <p>Everyone recognizes the orange locker key from trips to theme parks, water parks, ski resorts, and swimming pools. The iconic plastic orange- capped key and lock system has provided customers a sense of peace for more than 50 of the 80 years that American Locker has been in business. Paul Zaidins (&lsquo;90 accounting), CEO of American Locker, brought the company back from the brink after losing a contract with the United States Postal Service that accounted for 70 percent of their revenue in 2006...</p>
    <p>Continue reading in this article from <a href="/contentFiles/pdfs/portfolio-magazine-article-spring-2012.pdf">Portfolio Magazine</a>.</p>
  </div>
  <aside class="col-lg-4 -order-lg-2">
    {% include 'navigation/subPageNav.njk' %}
  </aside>
</div>
