---
title: Bonefish Capital - Our Philosophy
pageTitle: Our Philosophy
description: Our Philosophy

parentNavPath: root.who
currentPage: philosophy
---


<div class="row">
  <div class="col-lg-8 -order-lg-1">
    <div>
      <p>Servant leadership is a philosophy and set of practices that enriches the lives of individuals, builds better organizations and ultimately creates a more just and caring world. While servant leadership is a timeless concept, the phrase &ldquo;servant leadership&rdquo; was coined by Robert Greenleaf in&nbsp;The Servant as Leader, an essay that he first published in 1970.</p>
      <div class="row">
        <div class="col-md-6">
          <p>A servant-leader focuses primarily on the growth and well-being of people and the communities to which they belong. While traditional leadership generally involves the accumulation and exercise of power by one at the &ldquo;top of the pyramid,&rdquo; servant leadership is different. The servant-leader shares power, puts the needs of others first and helps people develop and perform as highly as possible.</p>
        </div>
        <div class="col-md-6">
          <img class="inline-img-right" src="/images/content/servant-leadership-pyramid.png" alt="Servant-leadership pyramid">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 -order-lg-3">
    <h2>The Ten principals of Servant Leadership by Robert Greenleaf:</h2>
    <ul>
      <li><strong class="highlight">Listening:</strong> A servant leader puts the emphasis upon listening effectively to others.</li>
      <li><strong class="highlight">Empathy:</strong> A servant leader needs to understand others' feelings and perspectives.</li>
      <li><strong class="highlight">Healing:</strong> A servant leader helps foster each person's emotional and spiritual health and wholeness.</li>
      <li><strong class="highlight">Awareness:</strong> A servant leader understands his or her own values and feelings, strengths and weaknesses.</li>
      <li><strong class="highlight">Persuasion:</strong> A servant leader influences others through their persuasiveness.</li>
      <li><strong class="highlight">Conceptualization:</strong> A servant leader needs to integrate present realities and future possibilities.</li>
      <li><strong class="highlight">Foresight:</strong> A servant leader needs to have a well-developed sense of intuition about how the past, present, and future are connected.</li>
      <li><strong class="highlight">Stewardship:</strong> A servant leader is a steward who holds an organization's resources in trust for the greater good.</li>
      <li><strong class="highlight">Commitment&nbsp;to the&nbsp;growth&nbsp;of people:</strong> A servant leader is&nbsp;responsible&nbsp;for serving the need of others.</li>
      <li><strong class="highlight">Building&nbsp;community:</strong> A servant leader is to help create a sense of community among people.</li>
    </ul>
  </div>
  <aside class="col-lg-4 -order-lg-2">
    {% include 'navigation/subPageNav.njk' %}
  </aside>
</div>
