---
title: Bonefish Capital - Our Team
pageTitle: Our Team
description: Our Team

parentNavPath: root.who
currentPage: team
---

<div class="row">
  <div class="col-lg-8 -order-lg-1">
    <h3>Paul M. Zaidins</h3>
    <p class="bio-title">Managing Partner &amp; Founder</p>

    <img class="polaroid -in-body -left" src="/assets/images/content/paul-zaidins-bio-photo.jpg" alt="Paul Zaidins- Managing Partner &amp; Founder">
    <p>Paul M. Zaidins is Managing Partner and Founder of Bonefish Capital. Mr. Zaidins is the only person to have been a finalist for both Ernst &amp; Young's Entrepreneur of the Year and the Dallas Business Journal's CFO of the Year awards.</p>
  
    <p>Most recently, Mr. Zaidins was the interim CEO of New London Communications.  He led New London through a successful restructuring.  Under Mr. Zaidins leadership, New London achieved a quarter over quarter revenue increase of over twenty percent as well improving employee morale and key vendor relationships.</p>
  </div>
  <div class="col-lg-12 -order-lg-3 stacked">
    <p>Prior to New London, Mr. Zaidins led American Locker through a successful turnaround which included rebranding it as the &ldquo;orange key&rdquo; company.  While at American Locker, he successfully lobbied the US Congress as part of a coalition of key business leaders that resulted in the passage of a tax provision that resulted in a seven figure tax refund to American Locker.  Mr. Zaidins was instrumental in helping American Locker land the contract to help FedEx develop their <a href="http://shipandget.fedex.com/" title="FedEx Ship&amp;Get™">Ship&amp;Get<sup>™</sup></a> lockers. He led the negotiations that resulted in American Locker securing a contract to provide lockers as a service at Disneyland and Hong Kong Disneyland which included American Locker employees providing frontline support to Disney guests.</p>
    <p>Mr. Zaidins also worked closely with Mammoth Mountain Ski Area, the Calgary Stampede, San Diego Zoo, Breckenridge, and Sea World.</p>
    <p>Mr. Zaidins has significant middle market investment banking and independent sponsor experience as a Managing Director at Lane-Link Group and Vice-President at ECDI Capital.  The principals of ECDI Capital have subsequently raised an SBIC fund and renamed the firm Valesco Industries.  Mr. Zaidins started his career at Arthur Andersen &amp; Co in the audit and litigation support practice areas.</p>
    <p>Mr. Zaidins is an active supporter of philanthropic causes.  He is currently Treasurer and Chairman of the Audit and Finance Committee of the Board of Directors of Kitchen Dog Theater in Dallas.  Mr. Zaidins also serves as an advisor to the Business Council for the Arts helping unite commerce and culture in North Texas.</p>
    <p>Mr. Zaidins holds a B.S. from the University of Colorado at Boulder&rsquo;s Leeds School of Business.  He is a licensed Certified Public Accountant (&ldquo;CPA&rdquo;).</p>
    <div class="row justify-center-sm">
      <div class="col-sm-7 col-md-4 col-lg-3 col-xl-2">
        <a href="http://www.bizjournals.com/dallas/stories/2010/10/18/focus8.html" rel="external" target="_blank" title="Read the article on Dallas Business Journal CFO of the Year">
          <img src="/assets/images/content/cfo-of-the-year-logo.jpg" alt="Dallas Business Journal CFO of the Year">
        </a>
      </div>
      <div class="col-sm-7 col-md-4 col-lg-3 col-xl-2">
        <a href="http://www.dmagazine.com/publications/d-ceo/2012/july-august/ernst-and-young-dallas-entrepreneurs-of-the-year-2012-02" target="_blank" title="Read the article on Ernst &amp; Young Entrepreneur of the Year 2012 Finalist">
          <img src="/assets/images/content/ey-entr-oty-logo-2012.png" alt="Ernst &amp; Young Entrepreneur of the Year 2012 Finalist">
        </a>
      </div>
      <div class="col-sm-7 col-md-4 col-lg-3 col-xl-2">
        <a href="http://frontburner.dmagazine.com/2015/02/18/finalists-announced-d-ceos-2015-ma-awards/?ref=carouseltitle" target="_blank" title="Read the article on DCEO Mergers &amp; Acquisitions Awards 2015">
          <img src="/assets/images/content/DCEO_M-A_Award.png" alt="DCEO Mergers &amp; Acquisitions Awards 2015">
        </a>
      </div>
    </div>
    <hr />
  </div>
  <div class="col-sm-12 -order-lg-3">
    <h3 class="heading">Sharon M. Zaidins</h3>
    <p class="bio-title">Managing Director</p>

    <img class="polaroid -in-body -left" src="/assets/images/content/sharon-zaidins-bio-photo.jpg" alt="Sharon M. Zaidins- Managing Director">
    <p>As Managing Director of Bonefish Capital, Sharon dedicates her time to business development.</p>
    <p>Sharon began her career with the Farm Credit Administration during the peak of the eighties troubled-asset crisis. As a Commissioned Credit Examiner, Sharon conducted audits of financial institutions throughout Texas and the surrounding states.  In addition to a solid credit and lending foundation, Sharon has significant experience working with and advising lenders on operational management and process improvement.</p>
    <p>What originally started as a college gig, eventually turned into the pursuit of business ownership and entrepreneurship. Associated with Rocky Mountain Chocolate Factory for over twenty years, Sharon owned and operated a successful multi-unit franchise in the Dallas/Fort Worth area where she was recognized as a leader among franchisees, national retail establishments, and the community. </p>
    <p>True to her entrepreneurial calling, Sharon joined forces with husband Paul to form Bonefish Capital and re-enter the financial arena.  A quick study and noted connector, Sharon has an exceptional talent for identifying opportunity and improving operations.</p>
    <p>Sharon has a Bachelor of Arts in Business Administration from the University of Colorado Boulder Leeds School of Business with a dual emphasis in Finance and Marketing.</p>
  </div>
  <aside class="col-lg-4 -order-lg-2">
    {% include 'navigation/nav-sub-page.njk' %}
  </aside>
</div>
