---
title: Bonefish Capital - Our Citizenship
pageTitle: Our Citizenship
description: Our Citizenship
parentNavPath: root.who
currentPage: citizenship
---
<div class="row">
  <div class="col-">
    <h2>Community engagement</h2>
  </div>
  <div class="col-lg-8 -order-lg-1">
    <p>Good citizenship is about enabling positive change in the world around us. We believe that active engagement with our community is beneficial to our team members and the communities they serve. We actively work with the Business Council for the Arts to increase collaboration between business and the arts in order to make North Texas a better place to live.</p>
  </div>
  <div class="col-lg-12 -order-lg-3">
    <h2>Job creation</h2>
    <p>Job creation is integral to a vibrant economy and a healthy society. No matter where in the world you live, greater employment levels lead to a strong economy with more spending, saving and investing. The ripple effect from creating even one job affects families, neighborhoods and local economies. We are committed to helping our clients grow their businesses and therefore grow employment not only in their business but employment at their suppliers and customers.</p>
  </div>
  <aside class="col-lg-4 -order-lg-2">
    {% include 'navigation/subPageNav.njk' %}
  </aside>
</div>
