---
title: What We Do - Private Equity Services
description: Bonefish Capital offers services for Private Equity in Retained Acquisition, Restructuring, and Interim CXO Leadership.
pageTitle: Private Equity Services
---

<div class="row equal-heights">
  <div class="col-lg-6 col-xl-4 stacked-up-to-xl">
    <div>
      <h3>Retained Acquisition Services</h3>
      <p class="no-mb">In today&rsquo;s highly competitive market, acquiring an exceptional middle market business doesn&rsquo;t happen by chance. Bonefish Capital partners with a select group of private equity funds that are committed to investing in exceptional middle market business.</p>
    </div>
    <a href="/what-we-do/private-equity-services/retained-acquisition/" class="learn-more-link">Learn more</a>
  </div>
  <div class="col-lg-6 col-xl-4 stacked-up-to-xl">
    <div>
      <h3>Restructuring Services</h3>
      <p class="no-mb">When your business is under stress, you need a firm that can provide rapid, transformational solutions.</p>
    </div>
    <a href="/what-we-do/private-equity-services/restructuring/" class="learn-more-link">Learn more</a>
  </div>
  <div class="col-lg-8 col-xl-4">
    <div>
      <h3>Interim CXO Leadership</h3>
      <p class="no-mb">Bonefish Capital has relationships with many exceptional C-level executives from all disciplines including operations, finance, sales, marketing and information technology.</p>
    </div>
    <a href="/what-we-do/private-equity-services/interim-cxo-leadership/" class="learn-more-link">Learn more</a>
  </div>
</div>
