---
title: What We Do - Interim CXO Leadership
pageTitle: Interim CXO Leadership for Corporations
description: Bonefish Capital provides solutions to businesses suffering from operational challenges and/or inappropriate capital structures.

parentNavPath: root.what.private-equity
currentPage: interim-cxo-leadership
---

<div class="row">
  <div class="col-lg-8 -order-lg-1">
    <p>When your business is under stress, you need a firm that can provide rapid, transformational solutions. We provide solutions to businesses suffering from operational challenges and/or inappropriate capital structures.  Our team has successfully provided solutions to numerous businesses in distress.</p>
    <p>If you are interested in a firm that can provide a rapid solution to your issues, please <a href="/contact" title="Contact us">contact us</a>.</p>
  </div>
  <aside class="col-lg-4 -order-lg-2">
    {% include 'navigation/nav-sub-page.njk' %}
  </aside>
</div>


