---
title: Bonefish Capital - What We Do - Restructuring Services
pageTitle: Restructuring Services for Private Equity
description: Restructuring Services

parentNavPath: root.what.private-equity
currentPage: restructuring
---

<div class="row">
  <div class="col-lg-8 -order-lg-1">
    <p>When your business is under stress, you need a firm that can provide rapid, transformational solutions.  We provide solutions to businesses suffering from operational challenges and/or inappropriate capital structures.  Our team has successfully provided solutions to numerous businesses in distress.</p>
    <p>If you are interested in a firm that can provide a rapid solution to your issues, please <a href="/contact" title="Contact us">contact us</a>.</p>
  </div>
  <aside class="col-lg-4 -order-lg-2">
    {% include 'navigation/nav-sub-page.njk' %}
  </aside>
</div>


