---
title: Bonefish Capital - What We Do - Retained Acquisition Services 
pageTitle: Retained Acquisition Services for Private Equity
description: Retained Acquisition Services

parentNavPath: root.what.private-equity
currentPage: retained-acquisition
---

<div class="row">
  <div class="col-lg-8 -order-lg-1">
    <p>Bonefish Capital partners with a select group of private equity funds that are committed to investing in exceptional middle market business.  What they have in common is they are leaders in private equity but they are struggling to invest their capital in a timely manner.  In today’s highly competitive market, acquiring an exceptional middle market business doesn’t happen by chance.  How does your firm differentiate itself in this highly competitive marketplace? If you find yourself working with business brokers and investment bankers instead of business owners, then it is time to reconsider your process.</p>
    <p>Bonefish Capital uses an optimized process to deliver exceptional results in partnership with our clients.  Our process addresses all aspects of the acquisition search including strategy, marketing, sales, production, negotiation, due diligence and financing.  We help our partners develop a compelling value proposition to entice business owners to negotiate outside of the auction process.</p>
    <p>If you are interested in acquiring the right middle market business,  please <a href="/contact" title="Contact us">contact us</a>.</p>
  </div>
  <aside class="col-lg-4 -order-lg-2">
    {% include 'navigation/nav-sub-page.njk' %}
  </aside>
</div>
