{% import "tables/generate-table.njk" as tables %}
{{
  tables.table(
    [{
      text: 'Date and Location',
      cellContent: {
        macro: tables.eventsDateLocation,
        macroArgs: ['date', 'location']
      }
    }, {
      text: 'Event Name',
      cellContent: {
        macro: tables.eventsLinkedName,
        macroArgs: ['name', 'url']
      }
    }],
    eventsData,
    'Bonefish Capital Will Be Attending These Events',
    'events-table',
    'mobile-reversed mobile-no-col-header'
  )
}}
