{%
  macro table(
    headersData,
    bodyData,
    caption,
    tableID,
    classes)
%}
  <table class="table {{ classes }}">
    <caption class="visuallyhidden">{{caption}}</caption>
    <thead class="table-head">
      <tr>
        {% for headerConfig in headersData %}
          <th class="table-column-header" scope="col" id="{{ getColumnHeaderID(tableID, loop.index0) | trim }}">{{ headerConfig.text }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody class="table-body">
      {% for event in bodyData %}
        {% set rowIndex = loop.index0 %}
        <tr class="table-row">
          {% for headerConfig in headersData %}
            {% set columnIndex = loop.index0 %}
            {% if columnIndex === 0 %}
              {% set elemName = "h" %}
              {% set headersAttr = getColumnHeaderID(tableID, columnIndex) %}
            {% else %}
              {% set elemName = "d" %}
              {% set headersA = getRowHeaderID(tableID, rowIndex) | trim %}
              {% set headersB = getColumnHeaderID(tableID, columnIndex) | trim %}
              {% set headersAttr = [headersA, headersB].join(' ') %}
            {% endif %}

            <t{{elemName}} data-content="{{ headersData[columnIndex].text }}:" {% if columnIndex === 0 %}scope="row" id="{{getRowHeaderID(tableID, rowIndex) | trim}}" class="table-row-header"{% else %}class="table-cell"{% endif %} headers="{{headersAttr | trim}}">
              <span class="table-cell-content">
                {% set macroArgs = headerConfig.cellContent.macroArgs %}
                {{ headerConfig.cellContent.macro(event, macroArgs) }}
              </span>
            </t{{elemName}}>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{# Internal Macros #}
{% macro getColumnHeaderID(tableID, columnIndex) %}
  {{tableID}}-column-header-{{columnIndex}}
{% endmacro %}

{% macro getRowHeaderID(tableID, rowIndex) %}
  {{tableID}}-row-header-{{rowIndex}}
{% endmacro %}
{# ================= #}

{# Public Macros #}
{# Events #}
{% macro eventsDateLocation(cellData, config) %}
  {{ cellData[config[0]] | safe }}
  {% if cellData[config[1]]%}<br>{% endif %}
  {{ cellData[config[1]] | safe}}
{% endmacro %}

{% macro eventsLinkedName(cellData, config) %}
  <a href="{{cellData.url}}" rel="external">{{cellData.name}}</a>
{% endmacro %}

{# News #}
{% macro newsDateSource(cellData, config) %}
  {{ cellData[config[0]] | safe}}
  {% if cellData[config[0]] and cellData[config[1]] %}<br>{% endif %}
  {% if cellData[config[1]] %}{{ cellData[config[1]] }}{% endif %}
{% endmacro %}

{% macro newsDescription(cellData, config) %}
  {{ cellData[config[0]] | safe}}
{% endmacro %}
{# ================= #}
