{% import "tables/generate-table.njk" as tables %}
{{
  tables.table(
    [{
      text: 'Date / Source',
      cellContent: {
        macro: tables.newsDateSource,
        macroArgs: ['date', 'name']
      }
    }, {
      text: 'Description',
      cellContent: {
        macro: tables.newsDescription,
        macroArgs: ['description']
      }
    }],
    newsData,
    'News and Publications',
    'news-table',
    'mobile-no-col-header'
  )
}}
