{% macro menuItem(item, index, currentPage, classData) %}
  <li class="{{ classData[index].classes.li }}">
    <a href="{{ item.url }}" class="{{ classData[index].classes.a }}">{{ item.name }}</a>
    <p>{{currentPage}}</p>
    {% if item.name === currentPage %} -currentPage{% endif %}
    {% if item.subPages %}
      <ul class="{{classData[index].classes.ul}}">
        {% for subItem in item.subPages %}
          {{ menuItem(subItem, index + 1, currentPage, classData) }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endmacro %}
