---
title: What We Do - Private Equity Services
pageTitle: Private Equity Services
description: Bonefish Capital offers Retained Acquisition services for Executives
---

<h3>Retained Acquisition</h3>
<p>Bonefish Capital partners with a select group of corporations that are committed to growing their existing businesses through the acquisition of exceptional middle market business. Our process addresses all aspects of the acquisition search including strategy, marketing, sales, production, negotiation, due diligence and financing.<p>
