---
title: What We Do - Retained Acquisition for Executives 
pageTitle: Retained Acquisition for Executives
description: Bonefish Capital uses an optimized process to deliver exceptional results in partnership with our Executives in Residence. Our process addresses all aspects of the acquisition search including strategy, marketing, sales, production, negotiation, and financing. We help our partners develop a compelling value proposition to entice business owners to negotiate outside of the auction process.

parentNavPath: root.what.executive-services
currentPage: retained-acquisition
---

<p>Bonefish Capital partners with a select group of C-level leaders who are committed to acquiring and leading an exceptional middle market business.  Our talented C-level partners assume the position of Executive in Residence while they engage in the process of finding the right middle market business.  These Executives in Residence are leaders in their area of expertise but not experts in buying middle market businesses.  In today’s highly competitive market, acquiring an exceptional middle market business doesn’t happen by chance.  If you find yourself working with business brokers and investment bankers instead of business owners, then it is time to reconsider your process.</p>
<p>Bonefish Capital uses an optimized process to deliver exceptional results in partnership with our Executives in Residence.  Our process addresses all aspects of the acquisition search including strategy, marketing, sales, production, negotiation, and financing.  We help our partners develop a compelling value proposition to entice business owners to negotiate outside of the auction process.</p>
<p>If you are a talented C-level executive interested in acquiring your own middle market business, please <a href="/contact" title="Contact us">contact us</a>.</p>
