---
title: Bonefish Capital - What We Do - Financing Advisory
pageTitle: Financing Advisory Services
description: Financing Advisory Services

parentNavPath: root.what.corporate-services
currentPage: financing-advisory
---

<div class="row">
  <div class="col-lg-8 -order-lg-1">
    <p>We advise business on a variety of financing needs.  Our typical client is an expert in running an exceptional business but has limited experience working with banks, non-bank finance companies and subordinated lenders.  We are at our best when our clients have a mission critical need for capital whether they need capital to finance their growth strategy or capital to help them implement their restructuring plan.  We also use our network of 100s of lenders to help our clients negotiate loan agreements with reduced costs, greater availability and/or lower compliance burdens.  When our clients are borrowing tens of millions of dollars, small improvements in rates can lead to big savings.</p>
    <p>Please <a href="/contact/">contact us</a> if you are interested in learning more about how we can help improve your credit situation.</p>
  </div>
  <aside class="col-lg-4 -order-lg-2">
    {% include 'navigation/subPageNav.njk' %}
  </aside>
</div>


