---
title: Bonefish Capital - What We Do - Corporate Services
pageTitle: Corporate Services
description: Corporate Services
---

<div class="row equal-heights">
  <div class="col-lg-6 col-xl-4 stacked">
    <div>
      <h3>Retained Acquisition</h3>
      <p class="no-mb">Bonefish Capital partners with a select group of corporations that are committed to growing their existing businesses through the acquisition of exceptional middle market business. Our process addresses all aspects of the acquisition search including strategy, marketing, sales, production, negotiation, due diligence and financing.</p>
    </div>
    <a href="/what-we-do/corporate-services/retained-acquisition/" class="learn-more-link">Learn more</a>
  </div>
  <div class="col-lg-6 col-xl-4 stacked">
    <div>
      <h3>Financing Advisory</h3>
      <p class="no-mb">We advise business on a variety of financing needs. We use our network of 100s of lenders to help our clients negotiate loan agreements with reduced costs and/or lower compliance burdens. When our clients are borrowing tens of millions of dollars, small improvements in rates can lead to big savings.</p>
    </div>
    <a href="/what-we-do/corporate-services/financing-advisory/" class="learn-more-link">Learn more</a>
  </div>
  <div class="col-lg-6 col-xl-4 stacked">
    <div>
      <h3>Restructuring Advisory</h3>
      <p class="no-mb">When your business is under stress, you need a firm that can provide rapid, transformational solutions. Our team has successfully provided solutions to numerous businesses in distress.</p>
    </div>
    <a href="/what-we-do/corporate-services/restructuring-advisory/" class="learn-more-link">Learn more</a>
  </div>
  <div class="col-lg-6 col-xl-8">
    <div>
      <h3>Interim CXO Leadership</h3>
      <p class="no-mb">Bonefish Capital has relationships with many exceptional C-level executives from all disciplines including operations, finance, sales, marketing and information technology.</p>
    </div>
    <a href="/what-we-do/corporate-services/interim-cxo-leadership/" class="learn-more-link">Learn more</a>
  </div>
</div>


