---
title: What We Do - Interim CXO Leadership
pageTitle: Interim CXO Leadership
description: Bonefish Capital provides C-level executives on an interim basis to help companies address short term talent gaps or as additional resources during times of stress.

parentNavPath: root.what.corporate-services
currentPage: interim-cxo-leadership
---

<div class="row">
  <div class="col-lg-8 -order-lg-1">
    <p>Bonefish Capital has relationships with many exceptional C-level executives from all disciplines including operations, finance, sales, marketing and information technology. We provide these c-level executives on an interim basis to help companies address short term talent gaps or as additional resources during times of stress.</p>
    <p>If you are interested in our interim CXO leadership services, please <a href="/contact" title="Contact us">contact us</a>.</p>
  </div>
  <aside class="col-lg-4 -order-lg-2">
    {% include 'navigation/nav-sub-page.njk' %}
  </aside>
</div>


