---
title: Bonefish Capital - What We Do - Restructuring Advisory
pageTitle: Restructuring Advisory
description: Restructuring Advisory

parentNavPath: root.what.corporate-services
currentPage: restructuring-advisory
---

<div class="row">
  <div class="col-lg-8 -order-lg-1">
    <p>When your business is under stress, you need a firm that can provide rapid, transformational solutions.  We provide solutions to businesses suffering from operational challenges and/or inappropriate capital structures.  Our team has successfully provided solutions to numerous businesses in distress.</p>
    <p>If you are interested in a firm that can provide a rapid solution to your issues, please <a href="/contact" title="Contact us">contact us</a>.</p>
  </div>
  <aside class="col-lg-4 -order-lg-2">
    {% include 'navigation/subPageNav.njk' %}
  </aside>
</div>


