---
title: Bonefish Capital - What We Do - Retained Acquisition Services 
pageTitle: Retained Acquisition Services for Private Equity
description: Retained Acquisition

parentNavPath: root.what.corporate-services
currentPage: retained-acquisition
---

<div class="row">
  <div class="col-lg-8 -order-lg-1">
    <p>Bonefish Capital partners with a select group of corporations that are committed to growing their existing businesses through the acquisition of exceptional middle market business.  Our partner corporations may be entrepreneurial, employee owned, family owned or publicly traded.  They specialize in a variety of industries including manufacturing, distribution, retail, health care, business services, consumer services and financial services.  What they have in common is they are leaders in their area of expertise but not experts in buying the right middle market businesses.  In today’s highly competitive market, acquiring an exceptional middle market business doesn’t happen by chance.  If you find yourself working with business brokers and investment bankers instead of business owners, then it is time to reconsider your process.</p>
    <p>Bonefish Capital uses an optimized process to deliver exceptional results in partnership with our clients.  Our process addresses all aspects of the acquisition search including strategy, marketing, sales, production, negotiation, due diligence and financing.  We help our partners develop a compelling value proposition to entice business owners to negotiate outside of the auction process.</p>
    <p>If you are interested in acquiring the right middle market business, please <a href="/contact" title="Contact us">contact us</a>.</p>
  </div>
  <aside class="col-lg-4 -order-lg-2">
    {% include 'navigation/nav-sub-page.njk' %}
  </aside>
</div>
