---
  title: Do you have an effective acquisition process?
  pageTitle: Do you have an effective acquisition process?
  description: This is the home page
  currentPage: home
  bodyClasses: no-heading-border
---

<p class="intro">In today&rsquo;s highly competitive market, acquiring an exceptional middle market business doesn&rsquo;t happen by chance. If you find yourself working with business brokers and investment bankers instead of business owners, then it is time to reconsider your process.</p>

<div class="row equal-heights">
  <div class="col-md-6 stacked-up-to-md">
    <div>
      <h3 class="top-border">Events</h3>
      {% include 'lists/events-list.njk' %}
    </div>
    <a href="/resource-center/events/" class="learn-more-link">Read more</a>
  </div>
  <div class="col-md-6">
    <div>
      <h3 class="top-border">News</h3>
      {% include 'lists/news-list.njk' %}
    </div>
    <a href="/resource-center/news/" class="learn-more-link">Read more</a>
  </div>
</div>
